footer
    background $azul
    padding 30px 0 45px
    p
        text-align center
        color #ffffff
        opensans 10
        line-height 1.5
        margin 0
        a:hover
            color $laranja
    +mobile()
        padding 20px 0 30px
        p
            font-size 9px
