header
    height 85px
    padding 0 30px
    +mobile()
        padding 0
    clearfix()
    .logo
        width 110px
        height 100%
        background $img('marca-hth.png') no-repeat center
        background-size 100% auto
        float left
        text-indent -9999px
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 85px
        width 28px
        outline 0
        padding 0
        cursor pointer
        float right
        .lines
            display block
            width 100%
            height 4px
            background #000
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background #000
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +above($tablet)
        display none

.mobile-nav
    display none
    position absolute
    top 85px
    left 0
    width 100%
    z-index 9999
    +above($tablet)
        display none !important
    background #000
    padding 20px 30px
    text-align right
    a
        display block
        oswald 18
        color #fff
        text-transform uppercase
        + a
            margin-top 4px
    +mobile()
        padding 15px 20px
        a
            font-size 16px

.fixed-nav
    +below($tablet)
        display none
    position fixed
    width 1200px
    left 50%
    transform translateX(-50%)
    top 25px
    z-index 9999
    a
        float right
        clear right
        display inline-block
        background #fff
        oswald 15
        padding-right 20px
        padding-left 2px
        height 22px
        line-height 22px
        text-transform uppercase
        position relative
        opacity .6
        transition opacity .3s
        &:hover
        &.active
            opacity 1
        &:before
            content ''
            position absolute
            width 10px
            height 12px
            background #fff
            left -10px
            bottom 0
        &:after
            content ''
            position absolute
            top 0
            left -10px
            width 0
            height 0
            border-style solid
            border-width 0 0 10px 10px
            border-color transparent transparent #fff transparent
        + a
            margin-top 3px
