.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%
    &.center-bg
        background #F2F4EE
        overflow-x hidden

.title
    oswald 48
    color $azul
    margin 0 0 .9em
    text-align center
    line-height 1
    +tablet()
        font-size 36px
    +mobile()
        font-size 24px
        text-align left
        margin-bottom .7em
