desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul    = #3C526A
$laranja = #FF7A3A
$rosa    = #F64071

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700')

opensans($size, $weight = normal)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == bold
        font-weight 700

oswald($size, $weight = normal)
    font-family 'Oswald', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == bold
        font-weight 700
