.clientes
    padding 80px 40px 20px
    +tablet()
        padding 40px 30px 10px
    +mobile()
        padding 35px 0 0

.clientes-wrapper
    display block
    clearfix()
    .cliente
        display block
        float left
        padding 15px
        background #ffffff
        margin-right 8px
        margin-bottom 8px
        +above($tablet)
            width calc('20% - 6.4px')
            &:nth-child(5n)
                margin-right 0
        +tablet()
            width calc('25% - 6px')
            &:nth-child(4n)
                margin-right 0
        +mobile()
            width calc('33.33% - 5.333px')
            padding 10px
            &:nth-child(3n)
                margin-right 0
        img
            display block
            width 100%
