.contato
    padding 80px 40px 100px
    +above($tablet)
        margin-top 240px
    +tablet()
        padding 40px 30px 60px
    +mobile()
        padding 35px 0 25px
    .informacoes
        width 265px
        img
            display block
        p
            oswald 22
            margin 1em 0 .6em
        a
            oswald 16
            &:hover
                color $laranja
        +tablet()
            width 210px
            p
                font-size 20px
            a
                font-size 15px
        +mobile()
            width 100%
            margin-bottom 20px
            img
                display none
            p
                font-size 18px
                margin-top 0
            a
                font-size 15px
    form
        flex 1
        p
            oswald 15
            width 100%
            display block
            margin 0 0 1em
            align-self flex-start
            +mobile()
                font-size 14px
                margin-bottom .7em
        .contato-flex
            width 100%
            flex 1
            display flex
            flex-wrap wrap
            +mobile()
                display block
        .col
            display flex
            flex-direction column
            flex 1
            margin-right 5px
            +mobile()
                display block
                margin-right 0
                margin-bottom 5px
            input
            textarea
                flex 1
                width 100%
                display block
                border 0
                outline 0
                background #fff
                margin-bottom 5px
                &:last-child
                    margin-bottom 0
                opensans 16
                font-style italic
                padding 0 15px
                +tablet()
                    font-size 15px
                    padding 0 10px
                +mobile()
                    font-size 14px
                    min-height 35px
                    padding 0 8px
            textarea
                resize none
                height 144px
                padding 15px
                +tablet()
                    padding 15px 10px
                +mobile()
                    padding 8px
                    height 120px
        #form-contato-response
            display none
            width 100%
            margin-top 5px
            border 2px solid $laranja
            padding 15px
            oswald 14
            text-transform uppercase
            color $laranja
            +mobile()
                padding 12px
                font-size 13px
        input[type=submit]
            width 90px
            oswald 16
            color #fff
            background-image linear-gradient(0deg, #FF2251, #FF763B)
            border 0
            outline 0
            cursor pointer
            &:hover
                text-shadow 0 1px 2px rgba(#000, .3)
            +mobile()
                display block
                width 100%
                height 45px

.contato-wrapper
    display flex
    flex-wrap wrap
