.home
    height 1045px
    position relative
    overflow hidden
    +below($tablet)
        height auto
    .texto-banner
        position absolute
        z-index 106
        height 530px
        width 505px
        overflow hidden
        display flex
        flex-direction column
        align-items flex-start
        justify-content center
        top 0
        left 695px
        h2
            oswald 32
            color #fff
            line-height 1.3
            margin 0
        p
            margin-top 15px
            opensans 15
            font-style italic
            color $azul
            display inline-block
            padding 6px 10px
            background #fff
            line-height 1
        +tablet()
            width 50%
            height calc('100% - 196px')
            left 50%
            h2
                font-size 25px
            p
                font-size 14px
        +mobile()
            display none
    .box-marca
        width 210px
        height 935px
        position absolute
        top -10px
        right -200px
        background #CEDADA
        transform rotate(45deg)
        transform-origin left top
        z-index 103
        img
            transform rotate(-45deg)
            position absolute
            bottom 235px
            left 32px
        +below($tablet)
            display none
    .faixa
        width 610px
        height 70px
        background $azul
        position absolute
        top 505px
        left 0
        z-index 106
        opensans 18
        color #fff
        padding-left 45px
        padding-top 27px
        &:after
            content ''
            position absolute
            right -70px
            top 0
            width 0
            height 0
            border-style solid
            border-width 70px 0 0 70px
            border-color transparent transparent transparent $azul
        +below($tablet)
            position relative
            top 0
        +tablet()
            height 60px
            font-size 16px
            padding-left 35px
            padding-top 22px
            width 560px
            margin-top -60px
            &:after
                right -60px
                border-width 60px 0 0 60px
        +mobile()
            width 100%
            height auto
            line-height 1.3
            padding 20px
            font-size 14px
            &:after
                display none
    .box-portal
        position absolute
        z-index 105
        width 605px
        height 445px
        overflow hidden
        top 560px
        left 0
        .bg
            position absolute
            bottom -175px
            z-index -1
            width 630px
            height 630px
            transform rotate(45deg)
            transform-origin right top
            background #447E8E
        .conteudo
            padding-top 40px
            padding-left 75px
            color #fff
            h4
                margin 10px 0 6px
                opensans 20 bold
                font-style italic
            p
                opensans 15
                font-style italic
                margin 0
        +below($tablet)
            position relative
            top 0
            width 100%
            height auto
            background #447E8E
            .bg
                display none
            .conteudo
                padding 30px
                clearfix()
                img
                    float left
                    margin-right 45px
        +mobile()
            .conteudo
                padding 20px
                img
                    float none
                    margin 0
                    max-width 100%
                h4
                    font-size 18px
                p
                    font-size 14px
.banners
    width 100%
    height 560px
    position relative
    top 0
    left 0
    +below($tablet)
        width 100%
        height 0
        padding-bottom 46.6%
    .triangulo-cima
        width 0
        height 0
        border-style solid
        border-width 335px 335px 0 0
        border-color #F2F4EE transparent transparent transparent
        position absolute
        top 0
        left 0
        z-index 102
        +tablet()
            border-width 250px 250px 0 0
        +mobile()
            display none
    .triangulo-baixo
        width 0
        height 0
        border-style solid
        border-width 0 0 335px 335px
        border-color transparent transparent #F2F4EE transparent
        position absolute
        bottom 0
        right 0
        z-index 102
        +below($tablet)
            display none
    .banner
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        .texto
            position absolute
            top 0
            right 0
            display none
