.quem-somos
    padding 40px 40px 40px
    +tablet()
        padding 30px 30px 30px
    +mobile()
        padding 25px 0 0
    +above($tablet)
        margin-top -240px
    .texto-principal
        display flex
        h1
            flex-grow 1
            text-align right
            color $laranja
            padding-right 45px
            line-height 1.1
            margin 0
        .texto
            width 640px
            opensans 16
            line-height 1.5
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0
            h3
                opensans 20
            +above($tablet)
                h3
                p
                    max-width 555px
        +tablet()
            .texto
                font-size 15px
                h3
                    font-size 18px
        +mobile()
            display block
            h1
                text-align left
                margin-bottom .7em
                br
                    display none
            .texto
                font-size 14px
                width 100%
                h3
                    font-size 16px
    .imagens
        clearfix()
        margin 40px 0 50px
        img
            display block
            width 25%
            float left
        +tablet()
            margin 30px 0 35px
        +mobile()
            margin 20px 0 25px
            img
                width 50%
    .atuacao-nacional
        display flex
        align-items flex-start
        h2
            margin 0
            oswald 32
            color $azul
        .texto
            margin-left 40px
            width 345px
            opensans 16
            color $azul
            line-height 1.5
            flex-shrink 0
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0
        img
            margin-left auto
            margin-top -25px
        +tablet()
            h2
                font-size 24px
            .texto
                font-size 15px
                margin-left 30px
            img
                flex 1
                width 100px
                max-width 550px
                margin-top -15px
                margin-left 35px
        +mobile()
            display block
            h2
                font-size 20px
                margin-bottom .7em
                br
                    display none
            .texto
                width 100%
                font-size 14px
                margin 0
            img
                width 100%
                max-width 550px
                margin-top 20px
