.servicos
    padding 80px 0 20px
    +tablet()
        padding 40px 0 10px
    +mobile()
        padding 25px 0 0

.servicos-numeros
    width 100%
    display flex
    flex-wrap wrap
    .numero
        flex-grow 1
        text-align center
        color #fff
        padding 60px 20px
        +tablet()
            width 50%
            padding 40px 20px
        +mobile()
            width 100%
            padding 25px 20px
        img
            margin-bottom 30px
            +mobile()
                height 90px
        span
            display block
            text-align center
            opensans 80 bold
            font-style italic
            line-height 1
            margin 25px 0 30px
            transform translateX(-3%)
            +mobile()
                font-size 50px
                margin 15px 0 20px
        h3
            oswald 26
            margin 0
            +mobile()
                font-size 20px
        p
            opensans 16
            margin 0
            +mobile()
                font-size 14px
    .numero-1
        background-image linear-gradient(0deg, #3C536A, #4C7C8E)
    .numero-2
        background-image linear-gradient(0deg, #FF1F51, #FF793A)
    .numero-3
        background-image linear-gradient(0deg, #D54078, #FF4878)
    .numero-4
        background-image linear-gradient(0deg, #0DACD3, #0CDDBD)

.servicos-detalhes
    margin-top 55px
    .detalhe
        display flex
        flex-wrap wrap
        border-top 1px solid $rosa
        align-items flex-start
        &:last-child
            border-bottom 1px solid $rosa
        img
            display block
            +tablet()
                width 200px
            +mobile()
                width 100%
        .texto
            flex 1
            padding 30px 40px
            h3
                oswald 22
                color $rosa
                margin 0 0 15px
                max-width 500px
            p
                opensans 15
                margin 0
                max-width 500px
            +tablet()
                padding 20px 30px
                h3
                    font-size 20px
            +mobile()
                padding 15px 0 20px
                h3
                    font-size 18px
                p
                    font-size 14px
        &.detalhe-dir
            img
                order 2
                +mobile()
                    order 0
            .texto
                text-align right
                h3, p
                    float right
                    clear both
                +mobile()
                    text-align left
                    h3, p
                        float none
